<%= form_for(@ad,:html => { :multipart => true }) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "erro") %> Impedem que este anunciante seja salvo:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :imagem %><br />
    <%= f.file_field :imagem %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :visitas,"Iniciar contador de visitas em" %><br />
    <%= f.text_field :visitas %>
  </div>
  <div class="actions">
    <%= f.submit "Criar Anuncio",:class=>"buttom" %>
  </div>
<% end %>
