<h1>Cadastro de Anunciantes</h1>

<table>
  <tr>
    <th style="width: 100%" >Nome</th>
    <th>Imagem</th>
    <th>Url</th>
    <th>Visitas</th>
    <th colspan="3">Controle</th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.nome %></td>
    <td><%= ad.imagem %></td>
    <td><%= ad.url %></td>
    <td><%= ad.visitas %></td>
    <td><%= link_to 'Detalhes', ad %></td>
    <td><%= link_to 'Alterar', edit_ad_path(ad) %></td>
    <td><%= link_to 'Remover', ad, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar Anunciante', new_ad_path %>
