<%= link_to 'Alterar', edit_ad_path(@ad),:class=>"link_bt" %> |
<%= link_to 'Voltar', ads_path,:class=>"link_bt" %>

<h1>Detalhes</h1>
<p>
  <b>Nome:</b>
  <%= @ad.nome %>
</p>

<p>
  <b>Imagem:</b>
  <%= image_tag @ad.imagem_path %>
</p>

<p>
  <b>Url:</b>
  <%=link_to @ad.url,@ad.url %>
</p>

<p>
  <b>Visitas:</b>
  <%= @ad.visitas %>
</p>


