<h1>Painel de Controle</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Label</th>
    <th>Value</th>
    <th colspan="3"></th>

  </tr>

<% @configurations.each do |configuration| %>
  <tr>
    <td><%= configuration.tipo %></td>
    <td><%= configuration.label %></td>
    <td><%= configuration.value %></td>
    <td><%= link_to 'Detalhes', configuration,:class=>"link_bt" %></td>
    <td><%= link_to 'Editar', edit_configuration_path(configuration),:class=>"link_bt" %></td>
    <td><%= link_to 'Remover', configuration, :confirm => 'Tem Certeza?', :method => :delete,:class=>"link_bt" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Parametro de Configuração', new_configuration_path,:class=>"link_bt" %>
