<%= link_to 'Editar', edit_configuration_path(@configuration) %> |
<%= link_to 'Voltar', configurations_path %>

<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @configuration.tipo %>
</p>

<p>
  <b>Label:</b>
  <%= @configuration.label %>
</p>

<p>
  <b>Value:</b>
  <%= @configuration.value %>
</p>



