<%= link_to 'Editar', edit_configuration_path(@configuration),:class=>"link_bt" %> |
<%= link_to 'Voltar', configurations_path,:class=>"link_bt" %>


<p>
  <b>Tipo:</b>
  <%= @configuration.tipo %>
</p>

<p>
  <b>Label:</b>
  <%= @configuration.label %>
</p>

<p>
  <b>Value:</b>
  <%= @configuration.value %>
</p>



