<h1>Usuários</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Senha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= link_to 'Novo Usuário', new_user_path,:class=>"link_bt" %>
<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.senha %></td>
    <td><%= link_to 'Mostrar', user,:class=>"link_bt" %></td>
    <td><%= link_to 'Editar', edit_user_path(user),:class=>"link_bt" %></td>
    <td><%= link_to 'Remover', user, :confirm => 'Tem Certeza?', :method => :delete,:class=>"link_bt" %></td>
  </tr>
<% end %>
</table>

<br />


