
<%= link_to 'Editar', edit_user_path(@user),:class=>"link_bt",:class=>"link_bt" %> |
<%= link_to 'Voltar', users_path,:class=>"link_bt",:class=>"link_bt" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Senha:</b>
  <%= @user.senha %>
</p>


