<h1>Listing pages</h1>

<table>
  <tr>
    <th style="width: 100%" >Título</th>
    <th colspan="3"></th>

  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.titulo %></td>
    <td><%= link_to 'Mostrar', page %></td>
    <td><%= link_to 'Editar', edit_page_path(page) %></td>
    <td><%= link_to 'Remover', page, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Página', new_page_path %>
