<%= javascript_include_tag "nicEdit" %>
<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editor">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="editor">
    <%= f.label :texto %><br />
    <%= f.text_area :texto,:style=>"width: 600px;height: 370px;"  %>
  </div>
  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>
