<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tocantins em Foco</title>
    <%= stylesheet_link_tag "styles.css" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <!-- HEADER -->
    <div id="header">
      <ul class="menu">
        <li class="home"><a href="#" title="Home Page">Início</a></li>
        <li class="about"><a href="#" title="About Us">Sobre</a></li>
        <li class="programs"><a href="#" title="Programs">Programa</a></li>
        <li class="contacts"><a href="#" title="Contacts">Contato</a></li>

      </ul>

      <div id="logo">
        <a onclick="window.open(this.href, this.target, 'width=300,height=230'); return false;" target="popup" href="player.html" >
          <img src="/images/radio.jpg" alt="Tocantins em Foco Rádio Online" width="268" height="144" border="0" />
        </a>
      </div>
      <div id="slogan"><img src="/images/slogan.jpg" alt="" width="384" height="58" /></div>
      <!--
      <ul class="buttons">
      <li class="contest"><a href="#" title="Enter Contest">Inicio</a></li>
      <li class="listen"><a href="#" title="Listen Our Station">Sobre</a></li>
      </ul>
      -->
    </div>

    <div id="container">
      <% if session[:user] %>
        <%= link_to "Sair",main_logout_path,:style=>"position:relative;right:10px" %>
      <% end %>
      <%= yield %>
    </div>
    <!-- FOOTER -->
    <div id="footer">
      <p><a href="#">Início</a> | <a href="#">Sobre</a> | <a href="#">PROGRAMA</a> |  <a href="#">Notícias</a> | <a href="#">Contato</a><br/>
        Copyright &copy; <a href="http://www.redrails.com.br">RedRails.com.br</a>. Design por <a href="http://www.twitter.com/LuizCarvalho">Luiz Carvalho</a></p>
    </div>
    <!--<div class="sponsor">Sponsored by<a href="http://www.wix.com/free/website?utm_campaign=templateyes&amp;experiment_id=templateyesexp" title="Free Flash Templates" target="_blank"><img src="images/banner-728x90.jpg" alt="Free Flash Templates" width="728" height="90" border="0" /></a></div>-->
  </body>
</html>
